@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: "PTSans Bold";
    src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.ttf");
}

body {
    margin: 0px;
}

.main {
    background-color: #f4f5f9;
    display: flex;
    margin: 0px;
    padding: 0px;

    &-square {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        border: rgba($color: #42567a, $alpha: 10%) solid 1px;
        margin-right: 160px;
        margin-left: 320px;

        &-text {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 170px 0px 0px 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &-divider {
                height: 120px;
                width: 5px;
                background: linear-gradient(to bottom, #3877ee, #ef5da8);
            }

            &-label {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding-left: 80px;

                &-upper {
                    color: #42567a;
                    font-family: "PTSans Bold";
                    font-size: 56px;
                }

                &-lower {
                    color: #42567a;
                    font-family: "PTSans Bold";
                    font-size: 56px;
                }
            }
        }

        &-line {
            &-vertical {
                position: absolute;
                height: 100%;
                border-right: rgba($color: #42567a, $alpha: 10%) solid 1px;
            }

            &-horizontal {
                position: absolute;
                width: 100%;
                border-top: rgba($color: #42567a, $alpha: 10%) solid 1px;
            }
        }

        &-circle {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 530px;
            height: 530px;
            border: rgba($color: #42567a, $alpha: 20%) solid 1px;
            border-radius: 100%;

            &-buttons {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

                &-single {
                    transition: all 0.3s ease-in-out;
                    background-color: #42567a;
                    position: absolute;
                    border-radius: 100%;
                    border: none;
                    height: 6px;
                    width: 6px;
                    cursor: pointer;
                    text-indent: -9999em;
                    $angle: calc(360 / 6);
                    $rot: 0;

                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transform: rotate(calc($rot * 1deg)) translate(calc(530px / 2)) rotate(calc($rot * -1deg));
                        }

                        $rot: $rot+$angle;
                    }

                    &-digit {
                        transition: 0.5s ease;
                        font-family: "PTSans";
                        color: #42567a;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        width: 60px;
                        padding: 40px;
                        user-select: none;
                        pointer-events: none;
                    }

                    &-label {
                        transition: 0.5s ease;
                        font-family: "PTSans Bold";
                        color: #42567a;
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0%;
                        width: 0px;
                        user-select: none;
                        pointer-events: none;
                    }
                }

                &-single:hover {
                    transition: 0.5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f4f5f9;
                    position: absolute;
                    border-radius: 100%;
                    border: rgba($color: #303e58, $alpha: 0.5) 1px solid;
                    height: 56px;
                    width: 56px;
                    padding: 0;
                    text-indent: 0;
                    cursor: pointer;
                    $angle: calc(360 / 6);
                    $rot: 0;

                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transform: rotate(calc($rot * 1deg)) translate(calc(530px / 2)) rotate(calc($rot * -1deg));
                        }

                        $rot: $rot+$angle;
                    }

                    &-digit {
                        font-family: "PTSans";
                        color: #42567a;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        width: 60px;
                        padding: 40px;
                    }

                    &-label {
                        font-family: "PTSans Bold";
                        color: #42567a;
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0%;
                        width: 0px;
                    }
                }

                &-active {
                    transition: 0.5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f4f5f9;
                    position: absolute;
                    border-radius: 100%;
                    border: rgba($color: #303e58, $alpha: 0.5) 1px solid;
                    height: 56px;
                    width: 56px;
                    padding: 0;
                    text-indent: 0;
                    cursor: pointer;
                    $angle: calc(360 / 6);
                    $rot: 0;

                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transform: rotate(calc($rot * 1deg)) translate(calc(530px / 2)) rotate(calc($rot * -1deg));
                        }

                        $rot: $rot+$angle;
                    }

                    &-digit {
                        font-family: "PTSans";
                        color: #42567a;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        width: 60px;
                        padding: 40px;
                    }

                    &-label {
                        font-family: "PTSans Bold";
                        color: #42567a;
                        font-size: 20px;
                        line-height: 30px;
                        letter-spacing: 0%;
                        width: 0px;
                    }
                }
            }
        }

        &-years {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            pointer-events: none;
            user-select: none;

            &-first {
                width: auto;
                font-weight: bold;
                font-family: "PTSans";
                letter-spacing: -2%;
                line-height: 160px;
                font-size: 200px;
                color: #5d5fef;
            }

            &-second {
                width: auto;
                font-weight: bold;
                font-family: "PTSans";
                letter-spacing: -2%;
                line-height: 160px;
                font-size: 200px;
                color: #ef5da8;
            }
        }

        &-swiper {
            bottom: 0px;
            position: absolute;
            width: 1200px;
            padding-bottom: 100px;

            &-switch {
                display: flex;
                position: absolute;
                flex-wrap: wrap;
                justify-content: space-between;
                top: -120px;

                &-pagination {
                    width: 100%;
                    font-size: 14px;
                    font-family: "PTSans";
                }

                &-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f4f5f9;
                    border-radius: 100%;
                    border: rgba($color: #303e58, $alpha: 0.5) 1px solid;
                    height: 50px;
                    width: 50px;
                    padding: 0;
                    cursor: pointer;
                    pointer-events: all;
                }
            }

            &-dates {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                &-events {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    &-year {
                        padding-bottom: 20px;
                        font-size: 25px;
                        font-family: "Bebas Neue";
                        color: #3877ee;
                    }

                    &-info {
                        width: 320px;
                        font-size: 20px;
                        font-family: "PTSans";
                        color: #42567a;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.swiper {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    &-wrapper {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    &-slide {
        width: 320 px;
    }
}