@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans-Regular.ttf");
}

.main {
    background-color: #f4f5f9;
    display: flex;
    justify-content: flex-end;
    &-square {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 100vh;
        border: rgba(0, 0, 0, 10%) solid 1px;
        margin-right: 160px;
        margin-left: 320px;
        &-text {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 170px 0px 0px 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-divider {
                height: 120px;
                width: 5px;
                background: linear-gradient(to bottom, #3877ee, #ef5da8);
            }
            &-label {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding-left: 80px;
                &-upper {
                    color: #42567a;
                    font-weight: bold;
                    font-family: "PTSans";
                    font-size: 56px;
                }
                &-lower {
                    color: #42567a;
                    font-weight: bold;
                    font-family: "PTSans";
                    font-size: 56px;
                }
            }
        }
        &-line {
            &-vertical {
                position: absolute;
                height: 100%;
                border-right: rgba(0, 0, 0, 10%) solid 1px;
            }
            &-horizontal {
                position: absolute;
                width: 100%;
                border-top: rgba(0, 0, 0, 10%) solid 1px;
            }
        }
        &-circle {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 530px;
            height: 530px;
            border: rgba(0, 0, 0, 20%) solid 1px;
            border-radius: 100%;
            &-buttons {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                &-single {
                    background-color: #42567a;
                    position: absolute;
                    border-radius: 100%;
                    border: none;
                    height: 6px;
                    width: 6px;
                    padding: 0;
                    cursor: pointer;
                    text-indent: -9999em;
                    $angle: calc(360 / 6);
                    $rot: 0;
                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transform: rotate(calc($rot * 1deg)) translate(calc(530px / 2)) rotate(calc($rot * -1deg));
                        }
                        $rot: $rot + $angle;
                    }
                }
                &-single:hover {
                    background-color: #f4f5f9;
                    position: absolute;
                    border-radius: 100%;
                    border: rgba($color: #303e58, $alpha: 0.5) 1px solid;
                    height: 60px;
                    width: 60px;
                    padding: 0;
                    text-indent: 0;
                    cursor: pointer;
                    $angle: calc(360 / 6);
                    $rot: 0;
                    @for $i from 1 through 6 {
                        &:nth-of-type(#{$i}) {
                            transform: rotate(calc($rot * 1deg)) translate(calc(530px / 2)) rotate(calc($rot * -1deg));
                        }
                        $rot: $rot + $angle;
                    }
                }
            }
        }
        &-years {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            pointer-events: none;
            user-select: none;
            &-first {
                font-weight: bold;
                font-family: "PTSans";
                letter-spacing: -2%;
                line-height: 160px;
                font-size: 200px;
                color: #5d5fef;
            }
            &-second {
                font-weight: bold;
                font-family: "PTSans";
                letter-spacing: -2%;
                line-height: 160px;
                font-size: 200px;
                color: #ef5da8;
            }
        }
        &-swiper {
            position: absolute;
        }
    }
}
